---
import BlogLayout from '../layouts/BlogLayout.astro';
import Layout from '../layouts/Layout.astro';
---

<BlogLayout title='Welcome to my journal'>
  <h3 class='o-caption'>Data Insights</h3>
  <h1 class='o-title'>Six months as a Data Science Masters student</h1>
  <h5 class='o-subtitle'>
    Six months ago, I decided to leave nigeria and follow my passion...
  </h5>
</BlogLayout>
