---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <div class='l-page_inner'>
    <aside class='l-page_left'>
      <div class='name_container'>
        <h1 class='name'>Godwin Ebikwo</h1>
      </div>

      <h4 class='caption'>Data Scientist/Insight Analyst</h4>
      <br />

      <div class='about'>
        <h4>
          I am a data science Master’s Student, with a strong background in
          programming, statistical analysis and machine learning. I am
          interested in utilizing data-driven strategies to drive informed
          decision making, captivate audiences through storytelling, foster
          innovation and facilitate growth within organizations.
        </h4>
      </div>

      <br />
      <h4 class='availability'>Availabe for work</h4>
      <h4 class='location'>England United Kingdom</h4>

      <div class='socials'>
        <ul>
          <li>
            <a href='mailto:godwin.a.ebikwo@gmail.com'>mail me</a>
          </li>
          <li>@godwinebikwo</li>
        </ul>
      </div>
    </aside>

    <section class='l-page_right'>
      <h1>Projects</h1>

      <div class='content'>
        <Card
          href='/'
          title='How to build a dashboard using Dash'
          body='Not really sure'
        />
        <Card
          href='/'
          title='How to build a dashboard using Dash'
          body='Not really sure'
        />
        <Card
          href='/blog'
          title='How to build a dashboard using Dash'
          body='Not really sure'
        />
        <Card
          href='/'
          title='How to build a dashboard using Dash'
          body='Not really sure'
        />
        <Card
          href='/'
          title='How to build a dashboard using Dash'
          body='Not really sure'
        />
        <Card
          href='/'
          title='How to build a dashboard using Dash'
          body='Not really sure'
        />
        <Card
          href='/blog'
          title='How to build a dashboard using Dash'
          body='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil reiciendis suscipit hic magnam perferendis sit tempore impedit? Ducimus, velit. Aliquid tempore voluptatum aperiam deleniti voluptates, erro'
        />
      </div>

      <p></p>
    </section>
  </div>
</Layout>
