---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class='link-card'>
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <div class='eclipse-text-container'>
      <p>
        {body}
      </p>
    </div>
  </a>
</li>

<style>
  .link-card {
    display: flex;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    border-image: initial;
    border-radius: var(--border-radius);
    background-position: 100%;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .link-card > a {
    position: relative;
    width: 100%;
    color: #fff;
    line-height: 1.4;
    padding: 1rem 1rem;
    border-radius: calc(var(--border-radius) - 0.15rem);

    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }

  .link-card:hover > a {
    opacity: 1;
  }

  h2 {
    font-size: 1.15rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    letter-spacing: -0.025em;
  }

  p {
    display: block;
    margin-top: 0.25rem !important ;
    margin-bottom: 0;
    color: var(--text-bright-accent);
  }
</style>
