---
const platform = 'github';
const username = 'godwinebikwo';
---

<footer>
  <div class='f-container'>
    <p>
      Learn more about my projects on <a
        href={`https://www.${platform}.com/${username}`}>{platform}</a
      >!
    </p>
  </div>
</footer>

<style>
  .f-container {
    position: relative;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
</style>
