---
const links = [
  { title: 'Home', url: '/' },
  { title: 'About', url: '/about' },
  { title: 'Blog', url: '/blog' },
];
---

<nav class='nav'>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.url}>{link.title}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang='scss'>
  .nav {
    outline: none;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    height: 38px;
    color: rgb(247, 248, 248);
    backdrop-filter: blur(12px);
    line-height: 28px;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05);
    border-image: initial;
    border-radius: 999px;
    padding: 1rem;

    position: fixed;
    top: 1rem;
    left: 1.4rem;

    & > ul {
      all: unset;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
</style>
